.movies-card-list {
  flex: 3 0 auto;
  border-top: 1px #e8e8e8 solid;
  margin: 0 70px;
}

.movies-card-list__ul {
  margin: 0;
  padding: 70px 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  text-align: center;
}

.movies-card-list__addItems {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
}

.movies-card-list__addItems_none {
  display: none;
}

.movies-card-list__addItems-button {
  width: 320px;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  cursor: pointer;
  background-color: transparent;
  border: 1px #e8e8e8 solid;
  border-radius: 5px;
  outline: none;
}

@media screen and (max-width: 1281px) {
  .movies-card-list {
    margin: 0 30px;
  }
  .movies-card-list__ul {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}

@media screen and (max-width: 929px) {
  .movies-card-list__ul {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .movies-card-list__addItems {
    display: flex;
  }
}

@media screen and (max-width: 632px) {
  .movies-card-list__ul {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 50px 0;
  }
}

@media screen and (max-width: 360px) {
  .movies-card-list {
    margin: 0 14px;
  }
  .movies-card-list__addItems {
    padding: 0 40px;
  }
  .movies-card-list__addItems-button {
    width: 100%;
  }
}
