.movies-card-list {
  margin: 0;
  padding: 70px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .movies-card-list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 70px 30px;
  }
}

@media screen and (max-width: 929px) {
  .movies-card-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 70px 30px;
  }
}

@media screen and (max-width: 632px) {
  .movies-card-list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 70px 30px;
  }
}