.techs {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 100px 70px;
  height: 100vh;
  background: #f5f5f5;
}

.techs__title {
  width: 100%;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px black solid;
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
}

.techs__block-title {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
}

.techs__block-paragraph {
  max-width: 460px;
  margin: auto;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}

.techs__block-items {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.techs__block-item {
  background: #e8e8e8;
  border-radius: 10px;
  margin: 5px;
  width: 90px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .techs {
    padding: 90px 50px;
    height: 70vh;
  }
}
