.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 172px;
  display: flex;
  background: #fafafa;
  padding: 0 70px;
}

.footer__title {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  color: #a0a0a0;
  text-align: center;
}

.footer__block {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px #e8e8e8 solid;
  height: 56px;
}

.footer__block-items {
  display: flex;
  list-style: none;
}

@media screen and (max-width: 1279px) {
  .footer {
    margin-top: 50px;
    background: #fff;
    padding: 0 30px;
  }
}

@media screen and (max-width: 430px) {
  .footer__block {
    flex-direction: column;
    align-items: center;
  }
  .footer__block-items {
    flex-direction: column;
    align-items: center;
  }
}
