.search-form {
  display: flex;
  flex-direction: column;
  padding: 80px 70px 0 70px;
}

.search-form__search {
  display: flex;
  align-items: center;
}
.search-form__search-block {
  width: 100%;
}

.search-form__search-input {
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  padding: 20px 16px;
  color: #a0a0a0;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 8px;
  background: #f9f9f9;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.3;
}
.search-form__search-input:focus {
  border: 1px #ff6838 solid;
}

.search-form__search-button {
  outline: none;
  min-width: 44px;
  height: 44px;
  background: #ff6838;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-form__checkbox {
  display: flex;
  align-self: center;
  margin-top: 28px;
  margin-bottom: 40px;
}

.search-form__checkbox-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.search-form__checkbox-text {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}
.search-form__checkbox-text:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #f9f9f9;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
.search-form__checkbox-text:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}
.search-form__checkbox
  .search-form__checkbox-input:checked
  + .search-form__checkbox-text:before {
  background: #2be080;
}
.search-form__checkbox
  .search-form__checkbox-input:checked
  + .search-form__checkbox-text:after {
  left: 26px;
}

@media screen and (max-width: 1279px) {
  .search-form {
    padding: 80px 30px 0 30px;
  }
}

@media screen and (max-width: 360px) {
  .search-form {
    padding: 80px 14px 0 14px;
  }
  .search-form__search-input {
    padding: 12px;
    height: 44px;
  }
  .search-form__checkbox {
    margin-top: 48px;
  }
}
