.login {
  background: #fff;
}

.identification {
  margin: auto;
  margin-top: 60px;
  max-width: 398px;
  height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.identification__form {
  display: flex;
  flex-direction: column;
}

.identification__input {
  outline: none;
  padding: 0;
  min-height: 30px;
  border: none;
  border-bottom: 1px solid #00000033;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.2;
  margin-bottom: 40px;
}

.identification__button {
  border: none;
  color: #fff;
  height: 45px;
  border-radius: 3px;
  background: #ff6838;
  padding: 0;
  margin: 0;
  transition: opacity 0.3s ease-in-out;
  margin-top: 112px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.identification__span {
  text-align: center;
  margin-top: 15px;
}

.identification__form-heading {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 40px;
}

/* .popup__input-invalid {
  border-bottom: 1px solid #ff6838;
} */

.identification__span {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
}

.identification__link {
  text-decoration: none;
  margin-left: 6px;
  color: #ff6838;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
}

.identification__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.identification__link:hover {
  opacity: 0.8;
}
